:root {
    --blue-link: #2196F3;
    --light-black: #212121;
    --light-grey:#757575;
}
body {
    font-family: 'Roboto',sans-serif; 
    color: var(--light-black);
}
.link {
    text-decoration: none;
    font-size: 14px;
    color: var(--light-black);   
    font-weight: 500
}
.link:hover,
.link:focus {
    color: var(--blue-link); 
}
    .info {
color: var(--light-grey)
}
ul {
    list-style-type: none;
}
.first-part {
    font-family: 'Raleway',sans-serif;
    font-size: 26px;
    font-weight:900;
    color: var(--blue-link);
}
.second-part {
    font-family: 'Raleway',sans-serif;
    font-size: 26px;
    font-weight: 900;
    color: #000000;
}
h1 {
    background: #2F303A;
    left: 0px;
    top: 80px;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
button {   
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    background: var(--blue-link);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}
h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-black);
} 
p { 
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--light-grey);
    }
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--light-black);
}
.person-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;        
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--light-black);
    }
.profession {
    font-size: 16px;
    line-height: 19px;       
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--light-grey);
    }
footer{
        background: #2F303A;
        color: rgba(255, 255, 255, 0.6);
    }
.adress{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    }
